.button {
  background-color: $immerse-blue-primary;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'HelveticaNeue-Light';
  z-index: 1;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background-color: $immerse-blue-opacity;
  }
}
