.studentClassPurchase {
    margin: $g-margin*4 5% $g-margin*4 5%;

    &__headerContainer {
        margin-top: $g-margin *4;
        margin-bottom: $g-margin*4;
    }

    &__header {
        margin: 0 $g-margin*4 0 0;
        padding: 0;
        color: $immerse-blue-primary;
        margin-bottom: $g-margin*4;
    }

    &__toggleButton {
        &__time {
            padding-left: $g-padding;
        }
    }

    &__timeFilter {
        padding: 0;
        margin: 0;
    }
}

.studentClassPurchaseFilters {
    display: flex;
    flex: 1;
    border: 1px solid $immerse-grey-light;
    border-radius: 40px;
    background-color: white;

    &__search {
        flex: 1;
        flex-shrink: 0;
        padding: 0 $g-padding*2 0 $g-padding*2;
        box-sizing: border-box;
    }
    &__availability {
        flex: 1;
        flex-shrink: 0;
        text-align: left;
        box-sizing: border-box;
    }
    &__location {
        flex: 1;
        flex-shrink: 0;
        padding: 0 $g-padding*2 0 $g-padding*2;
    }

    &__divider {
        margin: 0;
    }

    &__inputAdornment {
        margin-right: $g-margin*2;
    }

    &__popperContainer {
        z-index: 2;
    }

    &__popper {
        background-color: white;
        padding: $g-padding *4;
        border: 1px solid $immerse-grey-light;
        border-top-width: 0px; 
        box-shadow: 0px 4px 8px $immerse-drop-shadow;
        z-index: 3;
            
        &__title {
            margin-bottom: $g-margin;
        }
    }
}
.studentClassPurchaseNoResultCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $g-padding*4;
    min-height: 300px;
    text-align: center;

    &__subtitle {
        color: $immerse-grey-bland;
    }

    &__info {
        margin: $g-margin*4 0 $g-margin*4 0;
    }
}