.studentClassesGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: $g-margin * 4;
  margin-bottom: $g-margin * 2;
}

.studentMyClassCardContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-right: $g-margin * 4;
  margin-bottom: $g-margin * 4;
}

.studentMyClassCard {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  position: relative;
  z-index: 2;

  &__header {
    display: flex;
    flex: none;
    justify-content: space-between;
    margin-bottom: $g-margin * 2;
    &__title {
      margin: 0;
      padding: 0;
    }

    &__subtitle {
      font-size: 10px;
      color: $immerse-grey-bland;
      text-transform: uppercase;
    }
  }

  &__infoContainer {
    flex: none;
  }

  &__lessonButton {
    width: 100%;
    padding-right: $g-padding * 2;
    padding-left: $g-padding * 2;
  }

  &__teacherContainer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__waves {
    position: absolute;
    bottom: $g-margin * 3;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}
