.studentMyProfile {
    margin: $g-margin*4 5% $g-margin*4 5%;

    &__header {
        margin: $g-margin*4 0 $g-margin*4 0;
        &__text {
            color: $immerse-blue-primary;
            margin: 0;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        margin-bottom: $g-margin*4;
        padding: $g-padding*4;
        border-radius: 21px;
        background-color: white;
        box-shadow: -11px 9px 16px $immerse-drop-shadow; 

        &__inputFile {
            display: none;
        }

        &__header {
            margin: 0 0 $g-margin*2 0;
            &__text {
                font-size: 24px;
                margin: 0;
            }
        }

        &__detailsContainer {
            display: flex;
            margin: $g-margin*2 $g-margin*4 $g-margin*4 0;

            &__profileContainer {
                display: flex;
                flex: 1;
                flex-direction: column;
                align-items: center;
                padding: $g-padding*4;
                min-width: 200px;
                
                &__edit {
                    display: flex; 
                    margin: $g-margin*4 0 $g-margin*4 0;
                    cursor: pointer;
                    
                    div {
                        cursor: pointer;
                        font-size: 14px;
                        color: $immerse-grey-bland;
                    }
                }
            }
        }
        &__infoContainer {
            display: flex;
            flex: 2;
            flex-direction: column;

            &__info {
                margin-bottom: $g-margin*2;
                
                &__password {
                    margin-top: $g-margin*2;
                }

                &__title {
                    font-weight: bold;
                }

                &__select {
                    float: right;
                    color: $immerse-grey-bland;
                    cursor: pointer;
                }
            }
        }

        &__buttonContainer {
            display: flex;
            margin-right: $g-margin *4;
            justify-content: flex-end;
        }
    }
}