.navigationNotificationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $nav-bar-height;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // width: $nav-bar-height;
    // height: $nav-bar-height;

    &__svg {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }

    &__bubble {
      background-color: red;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      border-radius: 10px;
      padding-left: 5px;
      padding-right: 5px;
      left: 24px;
      top: 0;
      height: 20px;
      min-width: 20px;
      cursor: pointer;

      &__count {
        color: white;
        font-size: 12px;
      }
    }
  }
}

.navigationNotificationDropdown {
  z-index: 1000;
  width: 428px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px $immerse-drop-shadow;

  &__header {
    height: 56px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-color: $immerse-navigation-off;
    padding-left: $g-padding * 2;
    border-radius: 8px 8px 0 0;
  }

  &__notifications {
    max-height: 70vh;
    overflow-y: auto;
  }

  &__divider {
    border-top: 1px solid $immerse-grey-light;
  }
}
