.navigationProfileButton {
  min-width: $nav-bar-height;
  display: flex;
  justify-content: center;
  align-items: center;

  &__profileIcon {
    cursor: pointer;
  }

  &__dropdown {
    background-color: white;
    min-width: 260px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px $immerse-drop-shadow;

    &__profileImage {
      margin: 0 $g-padding 0 $g-padding * 2;
    }

    &__info {
      border-radius: 8px 8px 0 0;
      height: 84px;
      font-size: 14px;
      display: flex;
      align-items: center;
      background-color: $immerse-navigation-off;
      flex: 1.5;
      margin-bottom: $g-margin * 2;
    }

    &__footer {
      margin-bottom: $g-margin * 4;
      margin: 20px;
      padding: 30px;
    }
  }

  &__action {
    margin-left: $g-margin * 2;
  }
}
