.date-picker {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid $immerse-grey-light;
  width: 100%;
  height: 40px;
  padding: $g-padding $g-padding * 2;
  border-radius: 5px;
  transition: 0.3s;

  &__icon {
    flex: 1;
  }

  &:hover {
    border-color: $immerse-blue-primary;
  }
}

.date-picker-icon {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
