.noResultCard {
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 2px 4px $immerse-drop-shadow;
  padding: $g-padding*2;
  box-sizing: border-box;

  &__interiorBorder {
    border: 1px dashed $immerse-grey-wash;
    border-radius: 12px;
    padding: $g-padding*2;
  }
}