.classPurchaseGridContainer {
  display: flex;
}

.classPurchaseGrid {
  display: flex;
  align-self: center;
  flex: 1;
  flex-wrap: wrap;
  align-items: stretch;
}

.classPurchaseCardContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-right: $g-margin*4;
  margin-bottom: $g-margin*4;
}
.classPurchaseCard {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  position: relative;
  z-index: 2;
  cursor: pointer;

  &__backgroundDecor {
    &__waves {
      position: absolute;
      left: 0;
      bottom: 10px;

      svg {
        width: 340px;
      }
    }
  }

  &:hover &__header__title {
    color: $immerse-blue-primary;
    transition: color 0.3s;
  }

  &__subtitle {
    color: $immerse-grey-bland;
  }

  &__header {
    flex: none;
    margin-bottom: $g-margin * 2;

    &__title {
      margin: 0;
      padding: 0;
    }
    &__subtitle {
      font-size: 10px;
      color: $immerse-grey-bland;
      text-transform: uppercase;
    }
  }

  &__infoContainer {
    flex: none;
  }

  &__profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: $g-margin * 2;
    right: $g-margin * 2;
  }

  &__teacherContainer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__waves {
    position: absolute;
    bottom: $g-margin*3;
    left: 0;
    width: 100%;
    z-index: 1;
}
}
