.resetPassword {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 500px;
    width: 600px;

    &__header {
      font-size: 22px;
      margin: $g-margin * 2;
    }

    &__description {
      color: $immerse-grey-bland
    }
  }

  &__inputs__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $g-margin*4 0 $g-margin*4 0;
  }

  &__error {
    color: $immerse-error;
    margin-bottom: $g-padding;
  }
}