.dashboard {
    min-width: $min-width;
    min-height: $min-height;
    height: 100%;

    &__contentContainer {
        display: flex;
    }

    &__sideBar {
        z-index: 2;
    }

    &__content {
        transition: 0.3s;
        margin-top: $nav-bar-height;
        flex: 1;
        z-index: 1;
    }

    &__sidebar--shifted {
        @extend .dashboard__content;
        margin-left: 240px;
    }
}