.classPurchaseModalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.classPurchaseModal {
    width: 60vw;
    height: 80vh;
    min-width: 500px;
    min-height: 300px;
    position: relative;
    background-color: white;
    border-radius: 8px;

    display: flex;

    &__closeIcon {
        color: $immerse-grey-bland;
        position: absolute;
        top: $g-margin *2;
        right: $g-margin*2;

        &:hover {
            cursor: pointer;
        }
    }

    &__infoContainer {
        display: flex;
        flex-direction: column;
        flex:2;
        padding: $g-padding*4 $g-padding*4 $g-padding*4 $g-padding*4;

        overflow-y: auto;

        &__header {
            margin-bottom: $g-margin*4;

            &__title {
                margin: 0;
            }
            &__subtitle {
                font-size: 10px;
                color: $immerse-grey-bland;
                text-transform: uppercase;
            }
        }

        &__description {
            margin-bottom: $g-margin*4;
            color: black;
            line-height: 2em;
        }

        &__details {
            display: flex;
            flex-direction: column;
            &__row {
                display: flex;
                flex:1;
                & > * {
                    padding: 0 $g-padding*2 0 $g-padding*2;
                    flex: 1;
                }
            }
        }
    }

    &__enrollButton {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding: $g-padding*2 0 $g-padding*2 0;
    }
}