.notificationListItem {
  display: flex;
  align-items: center;
  padding: $g-padding*2;
  
  &--read {
    @extend .notificationListItem;
    background-color: $immerse-grey-extra-light;
  }

  &:hover {
    background-color: $immerse-navigation-off;
    cursor: pointer;
  }

  &__message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    max-height: 100px;
    margin-left: $g-margin*2;
    color: $immerse-grey-bland;

    &__description {
      font-size: 16px;
    }

    &__time {
      font-size: 14px;
    }
  }
}