.login {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    &__title {
        color: #757575;
        margin: 24px;
        font-size: 18px;
    }

    &__input {
        z-index: 0;
        width: 320px;

        &__errorMessage {
            margin-bottom: $g-margin;
            color: $immerse-pink-secondary;
        }

        &__form {
            position: relative;
        }
    }

    &__footer{
        display: flex;
        align-items: center;
        margin-top: 16px;
    }
}