.nav-bar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: $nav-bar-height;
    background-color: white;
    border-bottom: 1px solid #E6E8F1;
    z-index: 1300 !important;

    &__logo-svg {
        width: $nav-bar-height;
        height: $nav-bar-height;
        padding: 8px;
        margin: 0px 8px 0px 8px;
    }

    &__menu {
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;
    }

    &__profile-svg {
        position: absolute;
        right: 0;
        width: $nav-bar-height;
        height: $nav-bar-height;
        padding: $nav-bar-height/4;
    }

    &__routes {
        display: flex;
        flex: 1;
    }

    &__children {
        display: flex;
    }
}

.notification-button {
    display: flex;
    align-items: center;
    justify-content: center;
    // position: absolute;
    // right: $nav-bar-height;
    position: relative;
    width: $nav-bar-height;
    height: $nav-bar-height;
    border-left: 1px solid #E6E8F1;
    border-right: 1px solid #E6E8F1;
    cursor: pointer;

    &__svg {
        width: $nav-bar-height/4;
        height: $nav-bar-height/4;
    }

    &__bubble {
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 10px;
        padding-left: 5px;
        padding-right: 5px;
        left: $nav-bar-height/2;
        top: $nav-bar-height/2 - 15px;
        height: 20px;
        min-width: 20px;
    
        &__count {
            color: white;
            font-size: 12px;
        }
    }
}