.create-account-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  :focus {
      outline: none;
  }

  .create-account-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30vw;
      min-width: 400px;
      height: 75vh;
      min-height: 400px;
      background-color: white;
      border-radius: 8px;
      position: relative;
      padding: 30px;

      .close-icon {
          position: absolute;
          right: 8px;
          top: 8px;
          cursor: pointer;
      }

      .immerse-logo {
          margin-top: 24px;
      }

      .create-account-input-container {
          padding-top: $g-padding*4;
          width: 100%;
          flex: 1;

          .create-account-error-message {
              width: 100%;
              color: $immerse-pink-secondary;
              background-color: #E1EAFC;
          }
      }
  }

  .create-account-text {
      font-size: 18px;
      margin-top: 36px;
      color: $immerse-grey-medium;
  }
}