$min-height: 768px;
$min-width: 1024px;
$nav-bar-height: 72px;

$immerse-background: #f7f9ff;
$immerse-grey-dark: #333132;
$immerse-grey-medium: #686868;
$immerse-grey-bland: #a4a4a4;
$immerse-grey-wash: #bdbdbd;
$immerse-grey-light: #e0e0e0;
$immerse-grey-extra-light: #f2f2f2;
$immerse-blue-primary: #1742d0;
$immerse-pink-secondary: #f50057;
$immerse-yellow-accent: #ffeb3b;
$immerse-blue-opacity: rgba(23, 66, 208, 0.1);;
$immerse-pink-opacity: #f50057;
$immerse-yellow-opacity: #ffeb3b;
$immerse-drop-shadow: #dbe4f9;
$immerse-success: #2ecc71;
$immerse-error: #f44336;
$immerse-navigation: white;
$immerse-navigation-off: rgba(196, 196, 196, 0.34);

$g-padding: 8px;
$g-margin: 8px;

$icon-extraSmall: 36px;
$icon-small: 48px;
$icon-medium: 72px;
$icon-large: 96px;

:export {
  immerseGreyDark: $immerse-grey-dark;
  immerseGreyMedium: $immerse-grey-medium;
  immerseGreyBland: $immerse-grey-bland;
  immerseGreyWash: $immerse-grey-wash;
  immerseGreyLight: $immerse-grey-light;
  immerseGreyExtraLight: $immerse-grey-extra-light;
  immerseBluePrimary: $immerse-blue-primary;
  immersePinkSecondary: $immerse-pink-secondary;
  immerseYellowAccent: $immerse-yellow-accent;
  immerseBlueOpacity: $immerse-blue-opacity;
  immersePinkOpacity: $immerse-pink-opacity;
  immerseYellowOpacity: $immerse-yellow-opacity;
  immerseBackground: $immerse-background;
  immerseDropShadow: $immerse-drop-shadow;
  immerseSuccess: $immerse-success;
  immerseError: $immerse-error;
  immerseNavigation: $immerse-navigation;
  immerseNavigationOff: $immerse-navigation-off;

  gPadding: $g-padding;
  gMargin: $g-margin;

  iconExtraSmall: $icon-extraSmall;
  iconSmall: $icon-small;
  iconMedium: $icon-medium;
  iconLarge: $icon-large;

  navBarHeight: $nav-bar-height;
}
