body {
    background-color: $immerse-background;
    margin: 0px;
    overflow-x: auto;
    #root {
        width: 100%;
        height: 100%;
    }

    p {
        font-family: 'HelveticaNeue-Light';
    }
}