.studentMyClasses {
    margin: $g-margin*4 5% $g-margin*4 5%;
    min-height: 110vh;

    &__header {
        margin-bottom: $g-margin*4;
        &__title {
            color: $immerse-blue-primary;
            margin-bottom: $g-margin*4;
        }
    }

    &__toggleButtons {
        width: 340px;
    }
}

.studentMyClassesNoResultCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $g-padding*4;
    min-height: 300px;
    text-align: center;

    &__subtitle {
        color: $immerse-grey-bland;
    }

    &__info {
        margin: $g-margin*4 0 $g-margin*4 0;
    }
}