.forget-password-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  :focus {
      outline: none;
  }

  .forget-password-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 40vw;
      min-width: 500px;
      height: 55vh;
      min-height: 400px;
      background-color: white;
      padding: 30px;
      box-shadow: 0px 0px 16px 0px #E1EAFC;
  
      .close-icon {
          position: absolute;
          right: 8px;
          top: 8px;
          height: 30px;
          width: 30px;
      }

      .decor {
          margin-top: $g-margin*4;
      }

      .forgot-password-title {
          margin-top: 40px;
          font-size: 24px;
          color: gray;
      }

      .forgot-password-sub-text {
          text-align: center;
          color: $immerse-grey-bland;
          margin: 0 $g-margin*4 $g-margin*4$g-margin*4;
      }

      .forgot-password-email-input {
          width: 80%;
          border-style: solid;
          border-width: 0px 0px 1px 0px;
          border-color: gray;
          margin-top: 24px;  
      }
      

      .forgot-password-submit {
        flex: 1;
        display: flex;
        align-items: flex-end;
      }
  }
}