.navigation-button {
    display: flex;
    position: relative;
    align-items: center;
    padding: $g-padding;
    margin-bottom: $g-margin;
    cursor: pointer;

    &--selected {
        @extend .navigation-button;
        background-color: $immerse-blue-opacity;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    &__iconContainer {
        display: flex;
        justify-content: center;
        width: 24px;
        margin: 0 $g-margin*2 0 $g-margin;
    }

    &__icon {
        rect {
            fill: #979797;
            stroke: #979797;
        }

        path {
            fill: #979797;
        }

        &--selected {
            rect {
                fill: $immerse-blue-primary;
                stroke:  $immerse-blue-primary;
            }

            path {
                fill: $immerse-blue-primary;
            }

        }
    }
}