.card {
  background-color: white;
  border-radius: 12px;
  position: relative;

  &--small {
    padding: $g-padding;
  }

  &--medium {
    padding: $g-padding*2;
  }

  &--large {
    padding: $g-padding*4;
  }

  &--shadow {
    box-shadow: -11px 9px 21px rgba(173, 182, 217, 0.170884);
  }

  &--onClick {
    cursor: pointer;
  }
}